<%- include('common/header.ejs') %>
           <div class="left-panel">
            <div class="contact-form-1">
                <div class="form-description-1">
                    1. Контактні дані
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <form class="form-horizontal">
                            <div class="form-group name-group" id="inputName">
                                <label class="col-sm-2 control-label">Ім’я</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Ім’я Фамілія" type="text">
                                </div>
                            <span class="name-help-block" style="display: none;">
                                Введіть тільки власне ім’я, без цифр
                            </span>
                            </div>
                            <div class="form-group phone-group" id="inputPhone">
                                <label class="col-sm-2 control-label">Телефон</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="+380994010999" type="text">
                                </div>
                            <span class="phone-help-block" style="display: none;">
                                Введіть номер телефону у форматі +380 або почніть з 0
                            </span>
                            </div>
                            <div class="form-group address-group " id="inputAdress">
                                <label class="col-sm-2 control-label">Адреса</label>
                                <div class="col-sm-10">
                                    <input class="form-control" placeholder="Київ, вул. Спаська, 2" type="text">
                                </div>
                            <span class="address-help-block" style="display: none;">
                                Введіть адресу доставки піци
                            </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-5 order-summary">
                        <div class="bs-callout bs-callout-info">
                            <h4>Інформація про замовлення</h4>
                            <p class="order-summery-time"><b>Приблизний час доставки</b>: <span id="delivery-time"></span></p>
                            <p class="order-summery-adress"><b>Адреса доставки:</b> <span id="delivery-place"></span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group next-step-wrap">
                        <div class="next-step-width">
                            <button type="button" id="send-order" class="btn btn-warning btn-block next-step-button">
                                Далі
                                <i class="glyphicon glyphicon-chevron-right icon-white">
                                </i>
                            </button>
                        </div>
                    </div>
                </div>
                <div id="googleMap"></div>
            </div>
        </div>
        <div id="liqpay"></div>
        
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCE3xtGEcniuk09AoBb1gd1hJMutIRPU5E">
        </script>
        <script src="https://static.liqpay.com/libjs/checkout.js"></script>
<%- include('common/cart.ejs') %>
<%- include('common/footer.ejs') %>